name: Sync Fork

on:
  schedule:
    - cron: '0 21 * * *' # run once per day at 4 AM GMT+7 (21:00 UTC)
  workflow_dispatch: # manual trigger

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          owner: router-for-me
          base: main
          head: main
