name: Sync Fork

on:
  workflow_dispatch: # manual trigger only

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          owner: router-for-me
          base: main
          head: main
